:root {
  --bg: #ffffff;
  --bg-alt: #dedede;
  --fg: #212121;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #212121;
    --bg-alt: #313131;
    --fg: #ffffff;
  }
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg);
  width: 100%;
  min-height: 140vh;
  font-family: monospace;
}

nav {
  height: 80px;
  width: 100%;
  background-color: var(--bg);
  color: var(--fg);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 80px;
}

nav .logo {
  height: 100%;
  width: auto;
  line-height: 40px;
  font-size: 24px;
}

nav ul {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
}

* nav ul * {
  margin-left: 20px;
}

nav ul a {
  color: currentColor;
  text-decoration: none;
  font-size: 16px;
}

nav ul a:hover {
  text-decoration: underline;
}

.content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin: 40px 80px;
}

.content .card {
  border-radius: 8px;
  background-color: var(--bg-alt);
  color: var(--fg);
  width: 100%;
  height: 300px;
}

.content .card span.title {
  font-weight: bold;
  height: 40px;
  width: 100%;
  display: block;
  text-align: center;
  line-height: 40px;
}

.content .card div.card-content {
  padding: 20px;
}
